body {
	margin: 30px;
	text-align: center;
	
}

h1 {
	border: 1px solid #000;
	padding: 40px;
	margin: auto;
	font-size: 28px;
	text-decoration: none;
	font-family: Helvetica, 'Helvetica Neue', sans-serif;
}

h2 {
	font-size: 24px;
}

.about {
	
}

.navigation {
	border: 1px solid #000;
	padding: 30px;
	color: #860038;
	margin: auto;
	font-size: 18px;
	text-decoration: none;
	font-family: Helvetica, 'Helvetica Neue', sans-serif;
	display: inline;
	
}


p {
	border: 1px solid #000;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 60px;
	padding-right: 60px;
	margin: auto;
	font-size: 18px;
	text-decoration: none;
	font-family: Helvetica, 'Helvetica Neue', sans-serif;

}

.main a {
	
	
}

