body {
	margin: 30px;
	text-align: left;
	background-color: #000;
	
}

h1 {
	padding: 40px;
	margin: auto;
	font-size: 12px;
	font-weight: normal;
	font-family: 'Helvetica', sans-serif;
}

.navigation {
	padding: 30px;
	color: #fff;
	margin: auto;
	font-size: 12px;
	font-family: 'Helvetica', sans-serif;
	
}

ul {
	list-style-type: lower-roman;
}

p {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 60px;
	padding-right: 60px;
	margin: auto;
	font-size: 12px;
	font-family: 'Helvetica', sans-serif;

}

a:link {
	color: #fff;
    	text-decoration: none;
}

a:visited {
	color: #fff;
    	text-decoration: none;
}

a:hover {
	color: #fff;
    	text-decoration: underline;
}

a:active {
	color: #fff;
    	text-decoration: none;
}


